In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv(r"../data/census_clean.csv", index_col=0)
data.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
train, test = train_test_split(data, test_size=0.20, random_state=42)

In [9]:
test

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
3643,31,State-gov,33308,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16036,24,Federal-gov,130534,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
9401,60,Local-gov,98350,Some-college,10,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,0,60,Philippines,<=50K
17903,31,Private,398988,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
5198,43,Federal-gov,144778,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8213,22,Private,157332,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,35,United-States,<=50K
24623,49,Private,187454,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,99999,0,65,United-States,>50K
5514,43,Self-emp-not-inc,183479,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
29810,32,Local-gov,112650,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
29036,46,Federal-gov,33794,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,3103,0,40,United-States,>50K